*{
  box-sizing: border-box;
  margin:0px;
  padding:2px;
}

select{
  outline: none;
  border: 1px solid grey;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

input{
  outline: none;
  border: 1px solid grey;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #f5f6f7;
  border: 2px solid #292c2f5d;
}
.container{
  display: flex;
}

.laptop {
  border: 2px solid black ;
  width: 300px;
  text-align: center;
  margin: 20px;
  padding: 10px;
}
/* ---  DellAdSection  **/

.container1{
  /* border: 5px solid blue; */
  height:50vh;
  /* border: 1px solid rgb(117, 115, 115); */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container1 button{
  
  height: 50px;
  width: 300px;
  margin: 20px;
  outline: none;
  border: 1px solid white;
  font-size: larger;
}

.dell_sec_button_1{
  color: white;
  background-color: blue;
}

.dell_sec_button_2{
  border: 4px solid blue;
}
.color-white{
  background-color: rgb(105, 71, 71);
}

.color-gray{
  background-color: grey;
}

.dell_section_img{
  /* border: 5px solid red; */
}

.dell_section_img img{
  /* border: 5px solid yellow; */
  height: 40vh;

}
/* ---  UserList  **/

.business_card{
  border: 5px solid blue;
  width: 30vw;
  padding-left: 10px;
}

.business_card_container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
  
  justify-content: center;
}

.User_list_title{
  text-align: center;
  font-size: 41px;
}


/* Fb Signup *** */
.fb-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.fb-container-child{
  min-height: 50vh;
  min-width: 360px;
  max-width: 500px;
  /* border: 2px solid grey; */
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 10px 18px rgb(170, 169, 169);
}

.title_container{
  margin-top: -22px!important;
  display: flex;
  justify-content: space-between;
  align-items: flex-start!important;
  min-height: 10vh;
}

.name_input{
  width: 50%;
  background-color: #f5f6f7;
  border: 2px solid #292c2f5d;
}

.last_name{
  margin-left: 10px!important;
}

.name_container{
  display: flex;
  justify-content: space-between;

}

.other_info_input{
  width: 100%;
}

.english_input{
  font-size: 40px;
  width: 100%;
}




.signup_button_div{
  display: flex;
  justify-content: center;
  padding: 10px;
  /* margin-top: 10px; */
}
.signup_button_div button{
  display:inline-block;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  min-height: 30px;
  margin: 10px;
  background-color: rgb(20, 177, 23);
  color: white;
  font-size: 25px;
  
}

.tos_div{
  padding: 20px 0;
}

/* .the_form{
  border: 2px solid black;
} */



.date_of_birth{
  display: flex;
  justify-content: space-between;
}
.dob_select{
  width: 31%;
}
.gender_wrapper{
  display: flex;
  justify-content: space-between;
}
.gender_wrapper div{
  width: 31%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.gender_wrapper div input{
  margin-bottom: 10px;
}